<div class="container">
  <div class="card">
    <div class="text-center">
      <h1>Welcome to Nostria Signer</h1>
      <p class="mb-4">
        Your secure and easy-to-use Nostr identity manager for remote signing with the Nostr Connect protocol (NIP-46).
      </p>
      
      <div class="intro-image mb-4">
        <img src="icons/icon-384x384.png" alt="Nostria Signer Logo" class="app-logo">
      </div>
      
      <p>
        Click "Get Started" to generate the Nostr Signer identity and connect with your favorite Nostr clients.
      </p>
      
      <button (click)="onGetStarted()" class="mt-4">Get Started</button>
    </div>
  </div>
</div>
